:root {
  --sidebar-margin: 1rem;
  --sidebar-bg: #0a0c10;
  --sidebar-text: #c9c9c9;
  --sidebar-link: #e5e7eb;
  --sidebar-border: #c9c9c9;
}

body {
  background-color: var(--sidebar-bg);
  color: var(--sidebar-text);
  height: 100vh;
  margin: var(--sidebar-margin);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
